
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
      <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button">Profile</a>
      <a href="/medicines" class="w3-bar-item w3-button">Medications</a>
      <a href="/reports" class="w3-bar-item w3-button">Reports</a>
      <a href="/appoiment" class="w3-bar-item w3-button">Doctor Appointments</a>
    </div>
    <link href="css/nav.css" rel="stylesheet ">
   
    <div class="w3-container" >
      <button class="w3-button w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
      <h1 id="nav"><img src="/img_src/logo.jpg" height="65px" width="100 px"></h1>
    </div>

    <script src="/js/nav.js" ></script> 
    
         
