
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
  <a href="/dashboard" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h1 class="m-0 text-primary">HealthSync</h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/dashboard" class="nav-item nav-link active">Home</a>
          <a href="/reports" class="nav-item nav-link">Reports</a>
          <a href="/medicines" class="nav-item nav-link">Medicines</a>
          <a href="/appoiment" class="nav-item nav-link">Appoiments</a>
      </div>
      <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">signout<i class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>