<%- include("partials/head_dashboard") -%>

<body>
  <link rel="stylesheet" href="/css/uploadstyle.css" rel="stylesheet">
<%- include("partials/nav") -%>
  


<div class="body-container-wrapper">
  <div class="body-container">
    <div class="page-center">
      
      
      <h1>Add Your <strong>Medicines</strong> To HealthSync Profile</h1><b>
        <form action="/alertm" method="post" >
        <div><label><h4>Name Of Drug</label> <br><input type="text" name="drug_name1" value=""></div>
        <div><label>Description</label><br><input type="text" name="description1" value=""><br>
        <br><label for="appt">Select a Time:</label><br></div>
        <input type="time" id="appt" name="time"></h4>
        <br>
        <br><br> <button  name="id" type="submit" class="btn btn-success" value="">OK</button>
        </form>
      </div >
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
        </body>